<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L.I.G.A - Projetos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/projetos.css">
</head>

<body>
    <!-- HEADER CUSTOMIZADO -->
    <header class="header-custom">
        <div class="logo-title">
            <h1>L.I.G.A</h1>
            <h2>Grêmio Estudantil</h2>
        </div>

        <nav class="nav-custom">
            <a href="/views/integrantes.html">Integrantes</a>
            <a href="/views/projetos.html">Projetos</a>
            <a href="/views/proj-dia.html">Projetos dia-a-dia</a>
            <a href="/views/tarefas.html" class="active">Minhas tarefas</a>
        </nav>
    </header>
</body>

</html>